[submodule "themes/resume"]
	path = themes/resume
	url = https://xaoxuu@github.com/xaoxuu/hexo-theme-resume.git
[submodule "notes/themes/one-paper"]
	path = notes/themes/one-paper
	url = https://github.com/xlwyes/hexo-theme-one-paper.git
